[data-module="currency"] {
  width: 80%;;
  margin: 0 auto;
}
#dateTime{
  width: 209px;
  height: 37px;
  padding: 0.375rem 0.75rem;
  border: 1px solid #aaaaaa;
  border-radius: 0.25rem;
}
.select2 {
  width: 150px!important;
}
.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}
