[data-module="search"] {
  #search_btn {
     position: absolute;
     top: 31px;
     right: 0;
  }

  .address {
    cursor: pointer;

    &:hover {
      color: blue;
    }
  }

  #result_table {
    width: 1000px;
    margin: 0 auto;
  }
}